body {
  color: rgb(26, 25, 25);
  background-color: rgb(230, 236, 238);
  font-family: Monserrat, Arial, Helvetica, sans-serif
}
.center {
    margin:auto;
    text-align:center;
}
a:link {
    color: rgb(110, 189, 127);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 128, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(252, 45, 148);
  }
  
  /* selected link */
  a:active {
    color: rgb(148, 57, 223);
  }
  img.photo {
	border: 1px solid rgb(46, 45, 45);
	background-color: rgb(230, 236, 238);
	padding: 4px;}